/* CSS Reset to remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set html and body to take full height */
html,
body,
#root {
  height: 100%;
  width: 100%; /* Ensures they take the full width of the viewport */
  margin: 0;
  padding: 0;
}

#root {
  flex: 1; /* Allows #root to expand to fill available space */
}

/* Additional padding or global styles */
body {
  background-color: #f5f5f5; /* Set a default background color for the app */
}

:root {
  --SideNav-background: #131620;
  --SideNav-color: #ebebeb;
  --NavItem-hover-background: 'rgba(255, 255, 255, 0.04)';
  --NavItem-active-background: #625bf6;
  --NavItem-active-color: #ffff;
  --NavItem-disabled-background: #000000;
  --topnav-background: #f3f3f369;
  --border-color: #dcdfe481;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
